/*** GENERAL STYLING ***/
/* body */

html {
    max-width: 100vw;
    scroll-behavior:smooth;
}

.background {
    background-color:#424c51;
}

body {
    margin: 0%;
    overflow-x: hidden;
    user-select:none;
    opacity: 1; /* This and transition affect the page loading fade in effect */
    transition: 3s opacity; /* This causes a 3 second fade in */
    letter-spacing: .2vw; /* vw is a relative measurement, 1vw is equal to 1% of the viewport width */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

h1 {
    font-family: Consolas, monaco, monospace;
    text-align: center;
    margin-top: 3%;
    color: #1a1a1a;
}

h1:hover {
    filter: grayscale(5%);
    transform: scale(1.1);
    transition: transform 1s;
}

.white-text {
    color: #fff;
    text-align:center;
    font-size:40px;
    font-family: Consolas, monaco, monospace;
    margin-top:20%;
}


.quote:hover {
    text-shadow:rgb(255, 255, 255) 0px 0px 5px;
}

p {
    font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.center.quote {
    font-size:3vh;
}

p:hover {
    transition: transform 1s;
    transform: scale(1.01);
}

.center {
    text-align: center;
    font-size:2vh;
}

.center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

a {
    color: blue;
    cursor:pointer;
    text-decoration:underline;
}

q {
    font-style: italic;
}

img {
    filter: grayscale(40%);
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:hover {
    filter: grayscale(5%);
    transition: transform 1s;
    transform: scale(1.1);
}

@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

footer {
    padding: 2%;
    background-color: rgb(248, 237, 209, 0.5);
    border:solid medium #424c51;
    border-radius:16px 16px 0 0;
    z-index:-1;
    
}

.foot {
    text-align:center;
}

/*** END OF GENERAL STYLING ***/

/*** NAVBAR STYLING ***/
.navbar{
    overflow: hidden;
    background-color: rgba(26,30,32,0.5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animaton: moveNav 5s;
    animation: moveNav 5s;
}

/* moveNav animation effect for moving the nav bar in from the left of the screen */
@keyframes moveNav {
    from {left: -100vw};
    to {left: 0vw};
}

.navbar a {
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 30px;
    text-shadow: rgb(255, 255, 255) 0 0 2px;
    text-align: center;
    position: relative; 
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;

}

@keyframes moveNavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

@media screen and (max-width: 576px) {
    .navbar a{
        width: 25%;
        font-size: 12px;
    }
}

.navbar a:hover{
    background-color: #c9ae6e;
    color: black;
    font-weight: bold;
    text-shadow:rgb(0,0,0) 0 0 2px;
}

.navbar a.active {
    background-color: #7d775e;
}
/*** END OF NAVBAR STYLING ***/

/*** VIDEO STYLING ***/
/* formatting for background video */

#typing_video {
    zoom: 10%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

video {
    object-fit:cover;
}

/* Screens that are 576px and smaller will not display the background video */
@media screen and (max-width: 576px) {
    #typing_video {
        display: none;
    }
}

/* texts over the video */
.video_text {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    width: 100%;
    height:100vh;
    padding: 20px;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s
}

/* This animation effect causes the overlay video text to move up from the bottom of the page upon page load */
@keyframes moveVideoText {
    from {top: -100vw;}
    to {top: 0vw;}
}

/*** END VIDEO STYLING ***/

* { /* The asterisk is a universal selector that applies this effect to all elements on the page */
    box-sizing: border-box; /* This creates a box with a border within which we will place most of our text */
}

.column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 400px;
    background-color: rgb(255, 250, 239);
    border-radius:16px;
    text-align:center;
}

.aboutList {
    display: inline-block;
    text-align: left;
}

.column_1 p {
    text-align: center;
}


@media screen and (max-width: 576px) {
    .column_1 {
        overflow: auto;
    }
}

.column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: rgb(66, 76, 81);
}

.column_tall {
    padding-top: 3.5%;
    height: 450px;
    overflow: hidden;
}

.row {
    background-color:#424c51;
    padding:0 0.5vh;
   
    }

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*** END OF TABLE STYLING ***/

/*** CONTACT FORM STYLING ***/
.Pop_Up_Button {
    position:fixed;
    bottom:1.75vw;
    right:1.75vw;
    width:25vw;
    background-color:rgb(243, 217, 157);
    color:black;
    border:solid black;
    cursor:pointer;
    -webkit-animation:movePopup 5s;
    animation:movePopup 5s;
}

@keyframes movePopup {
    from {right:-40vw;}
    to {right:1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right:-40vw;}
    to {right:1.75vw;}
}

.form-popup {
    z-index:8;
    display:none;
    position:fixed;
    bottom:.5vw;
    right:.5vw;
}

.form-container {
    max-width:49vw;
    padding:1vw;
    background-color:rgb(247, 243, 232);
    border: 2px solid rgb(44, 51, 54);
    border-radius: 10px;
    font-family:Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.form-container input[type=text] {
    width:100%;
    padding:.93vw;
    margin:.6vw 0 .6vw 0;
    border:none;
    background:gainsboro;
    font-size:1vw;
    font-family:Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

button {
    font-family:Consolas, monaco, monospace;
    letter-spacing:.3vw;
    font-size:1.5vw;
    font-weight:bold;
    padding:1.5vw;
    cursor:pointer;
    width:100%;
    height:auto;
    border-radius:10px;
}

button:hover {
    color:white;
    background-color:black;
    transition-duration:1s;
    -webkit-transition-duration:1s;
    border-color:silver;
}

.form-container .btn:hover {
    color:white;
    background-color:green;
    transition-duration:1s;
    -webkit-transition-duration:1s;
    border-color:silver;
}

.form-container .btn {
    background-color:white;
    color:black;
    border-color:black;
    margin-bottom:1vw;
}

.form-container .cancel {
    background-color:black;
    color:white;
    border-color:gray;
}

.form-container .cancel:hover {
    color:white;
    background-color:darkred;
    transition-duration:1s;
    -webkit-transition-duration:1s;
    border-color:black;
}


/*** END CONTACT FOR STYLING ***/


/***** Slideshow Styling *****/

#Slideshow {
    margin-bottom: 1vh;
}

#Slideshow_Background {
    background: rgb(66, 76, 81); /* This creates a slightly transparent white background that's palced over the video in the background */    
    
}

.mySlides{
    display: none; /* This prevents the images from being displayed, we will use JS to display these */
}

/* Slideshow section / container */
#Slideshow_Container {
    width: 39.5vw; /* Relative sizing of the container for the slidewshow set to 39.5% of the viewport width */
    max-width:600px;
    height: auto; /* The height of the container is automatically adjusted based on the content it is displaying */
    padding-top: 4%; /* Adds a small padding to the top of the slideshow container */
    position: relative; /* This sets the container relative to its normal positioning */
    margin:auto; /* This will horizontally center the container on the page */
}

/* Remove the underline from the previous and next buttons on the slideshow */
#Slideshow_Container a {
    text-decoration: none;
}

/* Images contained within the slideshow */
.Slideshow_Images {
    vertical-align: middle; /* This centers the images vertically within the slideshow container */
    height: auto; /* The height of the images is automatically adjusted based on the content, ie if your images are different sizes, they will display as different sizes */
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75); /* Adds a shadow around the slideshow images */
    width: 100%; /* The width of the images is automatically adjusted based on the content */
}

.Slideshow_Images:hover {
    transition:none;
    transform:none;
}

/* Next and previous buttons */
.Previous, .Next {
    cursor: pointer; /* Changes the mouse to a pointer when the buttons are selected */
    position: absolute; /* This makes the next and previous buttons positioned relative to the slideshow container */
    top: 50%; /* This moves the buttons up in the slideshow container */
    width: auto; /* The width of the buttons is automatically adjusted based on the content */
    padding: 2vw; /* Adds padding equal to 2% of the viewport width */
    color: darkgray; 
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0; /* Adds a slightly rounded border on the top and bottom right corners */
    user-select: none; /* This property makes it so that the user cannot highlight the text */
    transition: 0.6s ease; /* This specifies the details of the hover transition for these elements */
}

/* Positioning the next button on the right hand side */
.Next {
    right: 0; /* This moves the next button to the right side of the slideshow container */
    border-radius: 3px 0 0 3px; /* This changes the border radius on the next button to the top and bottom left of the button */
}

/* Hover effect on slide show buttons */
.Previous:hover, .Next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Makes the background of the arrows a transparent gray color */
    color: white; /* Makes the arrows white when hovered over */
}

/* Slideshow text */
.text {
    color: white; 
    padding: 1vw;
    position: absolute; /* This ensures the text is positioned within the image */
    bottom: 0; /* This property sets the text at the bottom of the image */
    width: 100%; /* The element covers the full width of the image */
    text-align: center; /* The text is center aligned within the image */
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw; /* This gives slight spacing between the letters */
    font-size: 1.5vw; /* Font size is relative to the size of the viewport width */
    background-color: rgba(0, 0, 0, 0.75); /* Gives a slightly transparent black background */
    font-weight: bold;
    border-radius: 0px 0px 7px 7px; /* Gives the text background rounded corners on the bottom left and right corners */
}

/* Styling of the dots under the slideshow */
.dot {
    cursor: pointer; /* The cursor changes to pointer when hovered over the dots */
    height: 1vw; /* The dots are sized relative to the viewport width */
    width: 1vw;
    margin: .25vw; /* adds additional spacing between the dots */ 
    background-color: white; /* Makes the dots white */
    border-radius: 50%; /* Makes the dots circles by rounding each corner */
    display: inline-block; /* Allows the dots to sit next to eachother rather than on a new line */
    transition: background-color 0.6s ease; /* When clicked on the dots transition to a different color when clicked or hovered over (the affect is defined below) */
    z-index: 1; /* This ensures the dots will be displayed above any other elements */
}

/* Hover effect for slideshow dots */
.active, .dot:hover {
    background-color: black; /* Sets the color of the dots when active or hovered over */
}

/* Fading animation for slideshow */
.fade {
    animation-name: fade; /* Fade animation is defined below */
    animation-duration: 1.5s; /* The animation lasts 1.5 seconds */
    -webkit-animation-name: fade; /* Same as above for Safari 4.0-8.0 */
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;} /* Image starts transparent */
    to {opacity: 1;} /* Image ends opaque */
}

@keyframes fade {
    from {opacity: .4;} /* Image starts transparent */
    to {opacity: 1;} /* Image ends opaque */
}
/***** End Slideshow Styling *****/

